{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "react/button-has-type": "off",
    "quotes": [2, "prefer-single"]
  }
}